<nav class="navbar p-2 navbar-expand-sm navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" routerLink="/login">RealTech</a>
    <!-- <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button> -->
  </div>

  <div *ngIf="isLogin">
    <div class="text-white">
      Profile
      <button class="btn btn-primary rounded-circle profile">
        <span class="fs-5">P</span>
      </button>
    </div>

    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" id="profileDropdown" data-bs-toggle="dropdown" aria-expanded="false">
        Profile
      </button>
      <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profileDropdown">
        <li>
          <a class="dropdown-item" href="#">Profile Picture</a>
        </li>
        <li>
          <a class="dropdown-item" href="#">Update Password</a>
        </li>
        <li>
          <a class="dropdown-item" href="#">Logout</a>
        </li>
      </ul>
    </div>
    
  </div>
</nav>

<router-outlet></router-outlet>
