<nav class="navbar p-2 mb-2 navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" routerLink="/login">RealTech</a>
    <!-- <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button> -->
  </div>

  <div *ngIf="isLogin">
    <div class="d-grid gap-2 d-md-block">
      <button
        class="btn btn-sm btn-primary mx-1"
        type="button"
        aria-expanded="false"
      >
       <a routerLink="/profile"> Profile <i class="bi bi-person"></i></a>
      </button>
      <button class="btn btn-sm btn-outline-danger" (click)="logout()">
        Logout
        <i class="bi bi-box-arrow-right"></i>
      </button>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
