<div *ngIf="isLogin">
<div class="container p-4">
  <div class="row g-2">
    <div class="col-md-4">
      <div class="card p-2 shadow align-items-center">
        <svg
          class="card-img-top profile-picture"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
        >
          <path
            fill="#555"
            d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zM6 12c0-2.21 1.79-4 4-4s4 1.79 4 4-1.79 4-4 4-4-1.79-4-4zm4-2c0-1.1.9-2 2-2s2 .9 2 2-.9 2-2 2-2-.9-2-2zm4.75 4h-1.27l.01-.01C14.92 13.48 15 12.75 15 12c0-1.97-2.03-3.5-4.5-3.5S6 10.03 6 12c0 .75.08 1.48.23 2.09l.01.01H4.25C3.56 14 3 13.44 3 12.75V12c0-3.04 2.46-5.5 5.5-5.5S14 8.96 14 12v.75c0 .69-.56 1.25-1.25 1.25z"
          />
        </svg>

        <div class="edit-overlay">
            <label for="upload-input">
               <div class="btn btn-sm btn-secondary">Change Image <i class="bi bi-image-alt"></i></div>
            </label>
            <input type="file" id="upload-input" class="visually-hidden">
          </div>
          <div>
              <div class="btn btn-success"></div>
          </div>
        
      </div>
    </div>

    <div class="col-md-8">
      <div class="card shadow p-4">
        <h3>Profile Details</h3>
        <hr>
        <div class="row">
            <div class="col-md-6" *ngIf="userData">
                <h5 class="card-title">Full Name</h5>
                <p class="card-text">{{ userData.firstName }} {{ userData.lastName }}</p>
                <h5 class="card-title">Birthdate</h5>
                <p class="card-text">{{ userData.birthdate }}</p>
                <h5 class="card-title">Mobile</h5>
                <p class="card-text">{{ userData.mobile }}</p>
            </div>
            <div class="col-md-6">
                <h5 class="card-title">Email</h5>
                <p class="card-text">{{ userData?.email }}</p>
                <h5 class="card-title">Gender</h5>
                <p class="card-text">{{ userData?.gender }}</p>
                <h5 class="card-title">Address</h5>
                <p class="card-text">{{ userData?.address }}</p>
            </div>
        </div>
        <div class="d-grid gap-2 pt-2">
            <button class="btn btn-primary" type="button">Update Profile<i class="bi bi-pencil-square"></i></button>
          </div>
          
      </div>

    
     
    </div>
  </div>
</div></div>
